<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.firstProject.mapper.AnalysisMapper">

    <select id="getThemeList" resultType="HashMap">
        SELECT * FROM TEMASCRAPING
    </select>

    <select id="getStockList" resultType="HashMap">
        SELECT * FROM STOCKINTEMA WHERE NO = #{themePk}
    </select>

    <select id="getThemeTop4List" parameterType="int" resultType="HashMap">
        SELECT * FROM STOCKINTEMA
        WHERE NO = #{THEMEPK}
        ORDER BY SUBSTR(UPDOWN_RATE,1,1) DESC, SUBSTR(UPDOWN_RATE,2) DESC
        LIMIT 4
    </select>
    <!-- UPDOWN_RATE : -0.06% 인 경우, 부호만 먼저 desc 정렬한 다음에 뒤쪽 숫자를 asc 정렬 -->

    <select id="getStock10Days" parameterType="int" resultType="HashMap">
        SELECT S.STOCK_PK ,S.STOCK_NAME , S.STOCK_CODE, A.STOCK_HISTORY, A.DATE
        FROM ANALYSIS A
            LEFT JOIN STOCK S
            ON A.STOCK_PK = S.STOCK_PK
        WHERE S.STOCK_PK = #{stockPk}
    </select>

    <select id="getCrawling" resultType="HashMap">
        select CODE, PRICE, DATE from CRAWLING
    </select>

    <select id="getDummy" resultType="HashMap">
        SELECT * FROM DUMMYDATA
    </select>

</mapper>